@mixin app {
  position: relative;
  width: 400px;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  background-color: #1995ad;
  border: transparent;
  border-radius: 10px;
  overflow-x: hidden;
}

@mixin header {
  background-color: #1995ad;
  margin-top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}
