@mixin app {
  position: relative;
  width: 400px;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  background-color: #000000;
  overflow-x: hidden;
}

@mixin header {
  background-color: #000000;
  margin-top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 2rem 2rem;
  box-sizing: border-box;
}
