@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}

.app-start {
  @include app;
}

.header {
  @include header;

  &__title {
    font-size: 1.8rem;
    color: #f1f1f2;
  }

  &__search-button {
    display: flex;
    align-items: baseline;
  }

  &__settings-button {
    display: flex;
    align-items: baseline;
  }
}

.categories {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  box-sizing: border-box;

  &__child {
    border: 1px solid #1995ad;
    border-radius: 25px;
    background-color: #1995ad;
    color: #f1f1f2;
    font-size: 1.1rem;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
}

.menu {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 7rem;
  background-color: #1995ad;
  width: 100%;
}
