* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.app-start {
  width: 420px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  overflow-x: hidden;
}

.header {
  margin-top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 2rem 2rem;
  box-sizing: border-box;

  &__title {
    font-size: 1.8rem;
    color: #f1f1f2;
    cursor: pointer;
  }

  &__menu {
    cursor: pointer;
  }
}

.categories {
  display: none;
  width: 100%;
  gap: 1rem;
  margin: 1rem;
  padding: 0 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  box-sizing: border-box;

  &__child {
    justify-content: center;
    color: #f1f1f2;
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    cursor: pointer;
  }
}

.categories-display {
  display: unset;
}

.news {
  box-sizing: border-box;
  margin-top: 1rem;
}

.card {
  background-color: #262725;
  border: #262725 1px solid;
  color: #f1f1f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-bottom: 0.8rem;
  padding: 1rem;

  &__image {
    display: flex;
    justify-content: center;
  }

  &__source {
    margin: 0.5rem 0;
    color: #f1f1f2;
  }

  &__title {
    margin-bottom: 0.5rem;
    color: #f1f1f2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  &__text {
    font-size: 0.8rem;
    color: #f1f1f2;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  &__date {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 700px) {
  .app-start {
    width: 700px;
  }

  .header {
    padding: 3rem 0 2rem 0.5rem;
  }

  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card {
    width: 315px;
  }
}
