@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}

.app-start {
  @include app;
}

.header {
  @include header;

  &__title {
    font-size: 1.8rem;
  }

  &__search-button {
    display: flex;
    align-items: baseline;
  }

  &__settings-button {
    display: flex;
    align-items: baseline;
  }
}

.categories {
  width: 95%;
  display: flex;
  overflow: auto;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;

  &__child {
    border: 1px solid lightblue;
    border-radius: 25px;
    background-color: lightblue;
    font-size: 1.1rem;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
}

.footer {
  @include footer;
}
