@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}

.app-start {
  @include app;
}

.app-info {
  @include app;
}

.header {
  @include header;

  &__title {
    font-size: 1.8rem;
    color: #f1f1f2;
  }

  &__search-button {
    display: flex;
    align-items: baseline;
  }
}

.categories {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;

  &__child {
    color: #f1f1f2;
    font-size: 1.1rem;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
}

.news {
  box-sizing: border-box;
}

.card {
  background-color: white;
  border: white 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0.8rem;
  padding: 1rem;

  &__image {
    display: flex;
    justify-content: center;
  }

  &__source {
    margin: 0.5rem 0;
  }

  &__title {
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  &__text {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  &__date-bookmark {
    display: flex;
    justify-content: space-between;

    &__date {
      font-size: 0.8rem;
    }
  }
}

.menu {
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 7rem;
  background-color: #1995ad;
  width: 100%;

  &__info {
    cursor: pointer;
  }
}

.panel {
  display: none;

  &__active {
    color: #f1f1f2;
    display: unset;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 384px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #1995ad;
  }
}

#closeInfo {
  border: #1995ad 1px solid;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f1f1f2;
  cursor: pointer;
}
